<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <script scr="public/scripts/main.js" defer></script>
    <title>DASHBOARD</title>
</head>
<body>
    <nav>
        <p>LOGO</p>
        <ul>
            <li>DAHSBOARD</li>
            <li>USERS</li>
            <li>REPORTS</li>
        </ul>
    </nav>
    <div class="container">
        <aside>
            <p>MOJ TOOLBAR</p>
        </aside>

        <main>
            <h1>DASHBOARD</h1>
            <?php foreach($array as $key=>$value): ?>
            <tr>
                <?php> echo $key; ?></td>
            </tr>
            <?php endforeach; ?>
            <!-- Tu wyswietlamy elementy -->>
        </main>
    </div>
</body>
</html>